aiohttp==3.6.1
appnope==0.1.0
asn1crypto==0.24.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
backcall==0.1.0
bcrypt==3.1.6
beautifulsoup4==4.8.0
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
decorator==4.4.1
defusedxml==0.6.0
demjson==2.2.4
Django==2.2.5
django-cors-headers==3.1.0
docopt==0.6.2
Flask==1.1.1
Flask-Login==0.4.1
gerapy==0.8.5
hyperlink==17.3.1
idna==2.8
idna-ssl==1.1.0
importlib-metadata==0.23
incremental==17.5.0
ipython==7.10.2
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
jsmin==2.2.2
lxml==4.4.1
MarkupSafe==1.1.1
more-itertools==7.2.0
multidict==4.5.2
packaging==19.2
parsel==1.5.2
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
pluggy==0.12.0
prompt-toolkit==3.0.2
psycopg2==2.8.3
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
pycurl==7.43.0.2
PyDispatcher==2.0.5
Pygments==2.5.2
PyHamcrest==1.9.0
pymongo==3.9.0
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyquery==1.4.0
pyspider==0.3.10
pytest==5.0.1
pytest-runner==5.1
python-scrapyd-api==2.1.2
pytz==2019.2
PyYAML==5.1.2
queuelib==1.5.0
redis==3.3.8
requests==2.22.0
Scrapy==1.7.3
scrapy-redis==0.6.8
scrapy-splash==0.7.2
scrapyd==1.2.1
scrapyd-client==1.1.0
scrapyrt==0.11.0
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
tblib==1.4.0
tesserocr==2.4.1
tornado==4.5.3
traitlets==4.3.3
Twisted==19.7.0
typing-extensions==3.7.4
u-msgpack-python==2.5.2
urllib3==1.25.5
w3lib==1.21.0
wcwidth==0.1.7
Werkzeug==0.16.0
WsgiDAV==2.4.1
yarl==1.3.0
zipp==0.6.0
zope.interface==4.6.0
